body
{
	margin: 0 0;
}

a
{
    color: #111111;
}

a:hover
{
    color: #111111;
}

a:focus
{
    color: #111111;
}

.float
{
    float: left;
}

.header
{
    background-color: #e9ecef;
    padding: 60px 0px;
    margin-bottom: 2%;
}